# Data Wrangling Template

## Gather

In [10]:
import pandas as pd

In [6]:
df = pd.read_csv('data/bestofrt.tsv', sep='\t')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
ranking                     100 non-null int64
critic_score                100 non-null int64
title                       100 non-null object
number_of_critic_ratings    100 non-null int64
dtypes: int64(3), object(1)
memory usage: 3.2+ KB

In [8]:
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

## Assess

## Clean

#### Define

#### Code

#### Test